/* this is the style sheet file for index.htlm  */

/* 
**Global Reset (`*`)**
* {margin: 0; padding: 0; box-sizing: border-box;}


**Base (`html, body`)**

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

**Layout Wrapper (`.wrapper`)**
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

**Heading (`h2`)**
.h2 {
    font-size: 48px;
    margin-bottom: 50px;
    color: #003e3e;
    font-weight: bold;
    font-family: 'Alegreya', 'Roboto', sans-serif;
}

**Main Section (`.main-content`)**
.main-content {
    flex-grow: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button {
    background-color: #015c5d;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #A62B1F;
}
**Buttons (`button`)**

**Dashboard Buttons (`.dashboard-btn`)**
dashboard-btn {
    background-color: #015c5d;
}
.dashboard-btn:hover {
    background-color: #003e3e;
}
.footer {
    display: flex;
    background-color: #003e3e;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.header {
    background-color: #003e3e;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
